
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Đi đến Trang chủ" class="tip-bottom"><i class="icon-home"></i> Trang chủ</a> <a href="index.html" title="Giao dịch" class="tip-bottom">Chi tiết giao dịch</a></div>
        <h1>Quản lý chi tiết đơn hàng</h1>
    </div>
    <!--End-breadcrumbs-->
    <!--Action boxes-->
    <div class="container-fluid">
        <!--End-Chart-box-->
        <hr />
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-th"></i> </span>
                <h5>Chi tiết đơn hàng gần nhất</h5>
            </div>

            
               
            <div class="dataTables_filter">
                <label style="margin-right: 240px; margin-top: 10px;">Tìm kiếm:</label>  
                <input type="text" id="search" placeholder="Nhập tên khách hàng" onkeyup="SearchName()">
            </div>
            
            <div  style="margin-top: 50px;">
                <div class="widget-box" style="overflow-x:scroll;">

                    <div class="widget-content nopadding" id="ctgd-table">
                    </div>
                </div>
            </div>
</div>
<script>
    var checksearch = 0;
    $(document).ready(function () {
        $.ajax({

            url: '@Url.Action("ChiTietGiaoDichTable", "ChiTietGiaoDich")',
            mtype: "POST",
            datatype: "json",
            data: {
                page: 1
            },
            success: function (data) {
                $("#ctgd-table").html(data);
            }
        });
    });
    function previous(page) {
        if (checksearch == 0) {
            $.ajax({
                url: "@Url.Action("ChiTietGiaoDichTable", "ChiTietGiaoDich")",
                type: 'get',
                data: {
                    page: page - 1
                },
                success: function (response) {
                    $("#ctgd-table").html(response)
                }

            });
        } else {
            $.ajax({
                url: "@Url.Action("Search", "ChiTietGiaoDich")",
                type: 'get',
                data: {
                    page: page - 1
                },
                success: function (response) {
                    $("#ctgd-table").html(response)
                }

            })
        }


    }
    function next(page) {
        if (checksearch == 0) {
            $.ajax({
                url: "@Url.Action("ChiTietGiaoDichTable", "ChiTietGiaoDich")",
                type: 'get',
                data: {
                    page: page + 1
                },
                success: function (response) {
                    $("#ctgd-table").html(response)
                }

            });
        }
        else {
            $.ajax({
                url: "@Url.Action("Search", "ChiTietGiaoDich")",
                type: 'get',
                data: {
                    page: page + 1
                },
                success: function (response) {
                    $("#ctgd-table").html(response)
                }

            });
        }


    }

    function coutpage(i) {
        if (checksearch == 0) {
            $.ajax({
                url: "@Url.Action("ChiTietGiaoDichTable", "ChiTietGiaoDich")",
                type: 'get',
                data: {
                    page: i
                },
                success: function (response) {
                    $("#ctgd-table").html(response);
                }
            });
        } else {
            $.ajax({
                url: "@Url.Action("Search", "ChiTietGiaoDich")",
                type: 'get',
                data: {
                    page: i
                },
                success: function (response) {
                    $("#ctgd-table").html(response);
                }
            });
        }

    }
   
// function tìm kiếm
    function SearchName() {
        var codesearch = $("input#search").val().trim();
            checksearch = 1;

            $.ajax({
                url: '@Url.Action("SearchName", "ChiTietGiaoDich")',
                mtype: "POST",
                datatype: "json",
                data: {
                    codesearch: codesearch,
                    page: 1
                },
                success: function (data) {
                    $("#ctgd-table").html("");
                    $("#ctgd-table").html(data);
                }
            });
    }
</script>
