@using WebDienThoaiDiDong.Areas.Admin.Models.Danhsachgiaodich
@model PagingDanhSachGiaoDich
@{
    ViewBag.Title = "TableDanhSachGiaoDich";
    Layout = null;
}
<link href="~/Areas/Admin/Content/css/mypaging.css" rel="stylesheet" />
<div class="widget-content nopadding">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr class="success">
                <th style="background:#28B779; color:white;font-size:13px;">Mã đơn hàng</th>
                <th style="background:#28B779; color:white;font-size:13px;">Tên khách hàng</th>
                <th style="background:#28B779; color:white;font-size:13px;">Tổng giá trị đơn hàng</th>
                <th style="background:#28B779; color:white;font-size:13px;">Trạng thái đơn hàng</th>
                <th style="background:#28B779; color:white;font-size:13px;">Ngày tạo</th>
                <th style="background:#28B779; color:white;font-size:13px;">Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.List)
            {
                <tr>
                    <th style="font-size:11px;">@item.MaDonHang</th>
                    <th style="font-size:11px;">@item.TenKhachHang</th>
                    <th style="color:red;;font-size:11px;">@String.Format("{0:0,0 vnđ}", @item.TongGiaTriDonHang)</th>
                    @if (@item.TrangThaiDonHang == "Chưa thanh toán")
                    {
                        <th style="color:red;font-size:11px;">@item.TrangThaiDonHang</th>
                    }
                    else
                    {
                        <th style="color:#106dee;font-size:11px;">@item.TrangThaiDonHang</th>
                    }
                    <th style="font-size:11px;">@item.NgayTao</th>
                    <th>
                        <button style="font-size: 12px; margin-top:-3px; border-radius:3px;" type="button" class="btn-xs btn btn-primary " style="margin-bottom:3px;border-radius:4px;" onclick="chitiet(@item.MaDonHang,'+ @item.TenKhachHang+')" data-toggle="modal" data-target="#myModal"  >Chi tiết</button>
                    </th>

                </tr>
            }

        </tbody>

    </table>
</div>
@if (Model.totalpage > 1)
{
    <div class="pagination">
        <nav>
            <ul>
                @if (Model.page <= 1)
                {
                    <li><a style="background:#337AB7; color:#fff;cursor:not-allowed;">Previous</a></li>
                }
                else
                {
                    <li><a id="previous" onclick="previous(@Model.page)" style="background:#337AB7; color:#fff;">Previous</a></li>
                }

                <li><span style="background:#337AB7; color:#fff;">Trang <span style="font-weight:bold;">@Model.page</span>/<span style="font-weight:bold;">@Model.totalpage</span></span></li>
                @if (Model.page >= Model.totalpage)
                {
                    <li><a style="background:#337AB7; color:#fff; width:40px;cursor:not-allowed;">Next</a></li>
                }
                else
                {
                    <li><a id="next" onclick="next(@Model.page)" style="background:#337AB7; color:#fff; width:40px;">Next</a></li>
                }

            </ul>
        </nav>
    </div>
}


<div class="modal fade " id="myModal" style="width:initial;left:50%;transform:translateX(-20%);">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modalcontent">
     
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="a"></div>

@*Phần javascript cho modal chi tiết đơn hàng*@
<script>
    function chitiet(id,namecus) {
        $.ajax({
            type: 'post',
        data: {
            id: id,
            namecus:namecus
        },
        url: "@Url.Action("ChiTietGiaoDich", "Home")",
        success: function (data) {
            $("#modalcontent").html(data);
        }
        });
    }
</script>