@model List<WebDienThoaiDiDong.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int tonggia = 0;
}
<script src="~/Scripts/GioHang/GioHang.js"></script>
<link href="~/Content/css/dathang.css" rel="stylesheet" />
<div class="container" style="margin-top:10px">
    <div class="row">
        <div class="breadcrumb" style="margin-bottom: 20px;">
            <span itemscope="itemscope" class="crumb_item">
                <a itemprop="url" rel="up" class="crumb" href="index.html"><span itemprop="title">Trang chủ</span></a>
                <span class="arrow"> » </span>
            </span>
            <span itemscope="itemscope" class="crumb_item">
                <a itemprop="url" rel="up" class="crumb" href="dathang.html"><span itemprop="title">Đặt hàng</span></a>
            </span>
        </div>
    </div>
    
    <div class="row" id="divListviewsanpham">
        <!--phần div list sản phẩm đã chọn-->

        @foreach (var item in Model)
        {
            tonggia = tonggia + (int)item.Giasanpham*item.Quantity;

            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <span><img style="width:70%; height:13em;" src="~/Images/ImagesSliderProduct/@item.Sanpham.AnhDaiDien"></span>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-6">
                    <div class="col-md-6 col-sm-6 co-xs-6">
                        <h3 class="line-height" style="color:#008aca;">@item.Sanpham.TenSanPham</h3>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <h2 class="line-height right" style="color:red;text-align:right;">@String.Format("{0:0,0 đ}", item.Giasanpham)</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3 aligncenter">
                    <h5><a style="margin-left:2em;" href="#" onclick="xoa(@item.Sanpham.MaSanPham)">Xóa</a></h5>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-9" style="text-align:right;">
                    Số lượng:
                    <input type="number" id="IdQuantity" class="txtquantity" data-id="@item.Sanpham.MaSanPham" min="1" max="30" value="@item.Quantity">
                </div>
            </div>
            <hr>
        }
        

        <div class="row">
            <div class="row">
                <div class="col-sm-3">
                    <h2>Tổng tiền: </h2>
                </div>
                <div class="col-sm-9">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                        <h2 class="right" style="text-align:right; color:red;">@String.Format("{0:0,0 đ}", tonggia)</h2>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <button class="btn btn-info" id="btnContinue" onclick="conti()">Mua thêm sản phẩm khác</button>
        <button class="btn btn-info" onclick="Updategiohang()"> Update giỏ hàng</button>
        <div class="row">
            <div class="form-group col-sm-12">
                <div class="col-sm-12">
                    <label class="radio-inline">
                        <input type="radio" value="anh" checked name="radio">Anh
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="chị" name="radio">Chị
                    </label>
                </div>
                <div class="col-sm-6">
                    <label for="radio" class="error"></label>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Họ và tên" name="name" required>
                </div>
                <div class="col-sm-6">
                    <input type="text" id="sdt" class="form-control" placeholder="Số điện thoại" name="phone" required>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="Yêu cầu khác (Không bắt buộc)">
                </div>
            </div>


            <div class="form-group col-sm-12">
                <div class="col-sm-12">
                    <select class="form-control " name="city" id="city">
                        <option value="">Tỉnh/Thành phố</option>
                        <option value="Hà Nội">Hà Nội</option>
                        <option value="TP HCM">TP HCM</option>
                        <option value="Hải Phòng">Hải Phòng</option>
                        <option value="An Giang">An Giang</option>
                        <option value="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu</option>
                        <option value="Bắc Giang">Bắc Giang</option>
                        <option value="Bắc Kạn">Bắc Kạn</option>
                        <option value="Bạc Liêu">Bạc Liêu</option>
                        <option value="Bắc Ninh">Bắc Ninh</option>
                        <option value="Bến Tre">Bến Tre</option>
                        <option value="Bình Định">Bình Định</option>
                        <option value="Bình Dương">Bình Dương</option>
                        <option value="Bình Phước">Bình Phước</option>
                        <option value="Bình Thuận">Bình Thuận</option>
                        <option value="Cà Mau">Cà Mau</option>
                        <option value="Cao Bằng">Cao Bằng</option>
                        <option value="Đắk Lắk">Đắk Lắk</option>
                        <option value="Đắk Nông">Đắk Nông</option>
                        <option value="Điện Biên">Điện Biên</option>
                        <option value="Đồng Nai">Đồng Nai</option>
                        <option value="Đồng Tháp">Đồng Tháp</option>
                        <option value="Gia Lai">Gia Lai</option>
                        <option value="Hà Giang">Hà Giang</option>
                        <option value="Hà Nam">Hà Nam</option>
                        <option value="Hà Tĩnh">Hà Tĩnh</option>
                        <option value="Hải Dương">Hải Dương</option>
                        <option value="Hậu Giang">Hậu Giang</option>
                        <option value="Hòa Bình">Hòa Bình</option>
                        <option value="Hưng Yên">Hưng Yên</option>
                        <option value="Khánh Hòa">Khánh Hòa</option>
                        <option value="Kiên Giang">Kiên Giang</option>
                        <option value="Kon Tum">Kon Tum</option>
                        <option value="Lai Châu">Lai Châu</option>
                        <option value="Lâm Đồng">Lâm Đồng</option>
                        <option value="Lạng Sơn">Lạng Sơn</option>
                        <option value="Lào Cai">Lào Cai</option>
                        <option value="Long An">Long An</option>
                        <option value="Nam Định">Nam Định</option>
                        <option value="Nghệ An">Nghệ An</option>
                        <option value="Ninh Bình">Ninh Bình</option>
                        <option value="Ninh Thuận">Ninh Thuận</option>
                        <option value="Phú Thọ">Phú Thọ</option>
                        <option value="Quảng Bình">Quảng Bình</option>
                        <option value="Quảng Nam">Quảng Nam</option>
                        <option value="Quảng Ngãi">Quảng Ngãi</option>
                        <option value="Quảng Ninh">Quảng Ninh</option>
                        <option value="Quảng Trị">Quảng Trị</option>
                        <option value="Sóc Trăng">Sóc Trăng</option>
                        <option value="Sơn La">Sơn La</option>
                        <option value="Tây Ninh">Tây Ninh</option>
                        <option value="Thái Bình">Thái Bình</option>
                        <option value="Thái Nguyên">Thái Nguyên</option>
                        <option value="Thanh Hóa">Thanh Hóa</option>
                        <option value="Thừa Thiên Huế">Thừa Thiên Huế</option>
                        <option value="Tiền Giang">Tiền Giang</option>
                        <option value="Trà Vinh">Trà Vinh</option>
                        <option value="Tuyên Quang">Tuyên Quang</option>
                        <option value="Vĩnh Long">Vĩnh Long</option>
                        <option value="Vĩnh Phúc">Vĩnh Phúc</option>
                        <option value="Yên Bái">Yên Bái</option>
                        <option value="Phú Yên">Phú Yên</option>
                        <option value="Cần Thơ">Cần Thơ</option>
                        <option value="Đà Nẵng">Đà Nẵng</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-12">
                    <input type="text" class="form-control " name="address" id="address" placeholder="Số nhà, tên đường, phường, xã" required>
                </div>
            </div>
            <div class="form-group center-block col-sm-12">
                <button type="button" class="btn btn-primary center-block ">Thanh toán khi nhận hàng</button>
            </div>
        </div>

    </div>


    <hr>
</div>
<script>

    $(document).ready(function () {

        $('#form_register').validate({
            rules: {
                name: "required",
                phone: {
                    required: true,
                    minlength: 10,
                    number: true,
                },
                city: { required: true },
                address: "required",
            },
            messages: {
                name: "Vui lòng nhập họ tên",
                phone: {
                    required: "Vui lòng nhập số điện thoại",
                    minlength: "Số máy quý khách vừa nhập là số không có thực",
                    number: "Số máy quý khách vừa nhập là số không có thực",
                },
                city: "Vui lòng chọn",
                address: "Vui lòng nhập địa chỉ",

            }
        });
    });

    function Updategiohang() {
        var listSanpham = $('.txtquantity');
        var cartlist = [];
        $.each(listSanpham, function (i, item) {
            cartlist.push({
                Quantity: $(item).val(),
                Sanpham: {
                    MaSanPham: $(item).data('id')
                }
            });
        });
        $.ajax({
            url: '/GioHang/Update',
            data: { cartModel: JSON.stringify(cartlist) },
            datatype: 'json',
            type: 'post',
            success: function (res) {
                if (res.status == true) {
                    window.location.href = "/GioHang";
                }
            }

        });
    }
</script>
