@using WebDienThoaiDiDong.Models;
@model TIN_TUC_SAN_PHAM
@{
    Layout = null;
}
<link href="~/Areas/Admin/Content/jquery-te-1.4.0.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/jquery-te-1.4.0.min.js"></script>

<script>
     
        var urlSave ='@Url.Action("Save","QuanLyTinTucSanPham")';
    var urltable = '@Url.Action("DanhSachTinTucSanPhamTable", "QuanLyTinTucSanPham")';
    $('.jqte-test').jqte();

    // settings of status
    var jqteStatus = true;
    $(".status").click(function () {
        jqteStatus = jqteStatus ? false : true;
        $('.jqte-test').jqte({ "status": jqteStatus })
    });
    
</script>
<div class="widget-title">
    <span class="icon"> <i class="icon-align-justify"></i> </span>
    <h5>Thông tin tin tức</h5>
</div>
<div class="widget-content nopadding">
    <form id="upload" class="form-horizontal" method="post" action="/QuanLyTinTucSanPham/UploadFile" enctype="multipart/form-data">
        <div class="control-group">
            @Html.HiddenFor(n=>n.TTSP_Id)
            @Html.HiddenFor(n => n.NgayTao)
            @Html.HiddenFor(n => n.IsDeleted)
        </div>
        <div class="control-group">
            @Html.Label("Tên sản phẩm: ", new { @class = "control-label" })

            <div class="controls" id="divCTDM">
                <select name="catalog" class="span8" id="selectsanpham">

                    @foreach (var item in (List<SAN_PHAM>)ViewBag.lstSanpham)
                    {

                        <option value="@item.MaSanPham">
                            @item.TenSanPham
                        </option>

                    }
                </select>
            </div>

        </div>

        <div class="control-group">
            @Html.Label("Tên tin tức: ", new { @class = "control-label" })
            <div class="controls">
                @Html.TextAreaFor(n => n.TieuDeTinTuc, new { @class = "jqte-test" })
            </div>
        </div>
        <div class="form-group" id="uploadulli">
            <div id="drop" style="margin-left:550px;">
                <a style="padding:20px; text-decoration:none; color:#fff; background:#057ff5;cursor:pointer;">Chọn ảnh tin tức</a>
                <input type="file" multiple id="" style="display:none;" />
            </div>

            <ul>
                <!-- The file uploads will be shown here -->
            </ul>
        </div>
        <div class="control-group">
            @Html.Label("Nội dung tin tức: ", new { @class = "control-label" })
            <div class="controls">
                @Html.TextAreaFor(n => n.NoiDungTinTuc, new { @class = "jqte-test" })
            </div>
        </div>
        
        

        <div>
            <button style="margin:7px;" type="button" class="btn btn-success" onclick="luu(@ViewBag.page)">Lưu</button>
            <button style="margin:0px 7px;" type="button" class="btn btn-danger" onclick="dong()">Đóng</button>
        </div>

    </form>

</div>
<style>
    .jqte {
        margin-top: 5px;
        margin-left:30px;
        width: 90%;
    }

    #uploadulli ul li {
        margin-top: 1.8em;
        margin-left: 550px;
        list-style-type: decimal;
    }
     #uploadulli ul li input{
         width:20px; height:20px;
       border-radius:20px;
       border: 10px solid #0788a5;
       color:#0788a5;
       background:none;
       cursor:not-allowed;
       font-size:9px;
    }

</style>
<script>
function luu(page) {
    $.ajax({
        type: 'post',
        url: urlSave,
        data: $("#upload").serialize(),
        success: function (response) {
            if (response == 'True') {
                $.ajax({
                    type: 'post',
                    url: urltable,
                    data: {
                        page: page
                    },
                    success: function (data) {
                        $("#table").html("");
                        $("#table").html(data);
                    }
                });
            }

        }
    });
}</script>
<script>
    $("#selectsanpham").select2();
</script> 

<!-- JavaScript Includes -->
<script src="~/Scripts/jquery.knob.js"></script>
<!-- JavaScript Includes -->
<!-- jQuery File Upload Dependencies -->
<script src="~/Scripts/jquery.ui.widget.js"></script>
<script src="~/Scripts/jquery.iframe-transport.js"></script>
<script src="~/Scripts/jquery.fileupload.js"></script>
<!-- jQuery File Upload Dependencies -->
<!-- Main JavaScript file -->
<script src="~/Scripts/script.js"></script>
<!-- Main JavaScript file -->