@using WebDienThoaiDiDong.Areas.Admin.Models.Danhsachgiaodich
@model PagingDanhSachGiaoDich
@{
    ViewBag.Title = "TableDanhSachGiaoDich";
    Layout = null;
}
<link href="~/Areas/Admin/Content/css/mypaging.css" rel="stylesheet" />
<div class="widget-content nopadding">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr class="success">
                <th style="background:#28B779; color:white;font-size:13px;">Mã đơn hàng</th>
                <th style="background:#28B779; color:white;font-size:13px;">Tên khách hàng</th>
                <th style="background:#28B779; color:white;font-size:13px;">Tổng giá trị đơn hàng</th>
                <th style="background:#28B779; color:white;font-size:13px;">Trạng thái đơn hàng</th>
                <th style="background:#28B779; color:white;font-size:13px;">Ngày tạo</th>
                <th style="background:#28B779; color:white;font-size:13px;">Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.List)
            {
                <tr>
                    <th style="font-size:11px;">@item.MaDonHang</th>
                    <th style="font-size:11px;">@item.TenKhachHang</th>
                    <th style="color:red;;font-size:11px;">@String.Format("{0:0,0 vnđ}", @item.TongGiaTriDonHang)</th>
                    @if (@item.TrangThaiDonHang == "Chưa thanh toán")
                    {
                        <th style="color:red;font-size:11px;">@item.TrangThaiDonHang</th>
                    }
                    else
                    {
                        <th style="color:#106dee;font-size:11px;">@item.TrangThaiDonHang</th>
                    }
                    <th style="font-size:11px;">@item.NgayTao</th>
                    <th>
                        <button style="font-size: 12px; margin-top:-3px; border-radius:3px;" type="button" class="btn-xs btn btn-primary " style="margin-bottom:3px;border-radius:4px;" onclick="chitiet(@item.MaDonHang,'+ @item.TenKhachHang+')" data-toggle="modal" data-target="#myModal"  >Chi tiết</button>
                    </th>

                </tr>
            }

        </tbody>

    </table>
</div>
<div class="pagination">
    @{
        if (Model.page > 1)
        {
            <a onclick="previous(@Model.page)">&laquo;</a>
        }
        if (Model.totalpage > 1)
        {
            for (int i = 1; i <= @Model.page + 1; i++)
            {
                if (i <= Model.totalpage)
                {
                    if (i == Model.page)
                    {
                        <a href="" class="active" onclick="coutpage(@i)">@i</a>
                    }
                    else
                    {
                        <a onclick="coutpage(@i)">@i</a>
                    }

                }


            }
        }

        if (Model.page < Model.totalpage)
        {
            <a onclick="next(@Model.page)">&raquo;</a>
        }

    }

</div>


<div class="modal fade " id="myModal" style="width:initial;left:50%;transform:translateX(-20%);">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modalcontent">
     
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="a"></div>

@*Phần javascript cho modal chi tiết đơn hàng*@
<script>
    function chitiet(id,namecus) {
        $.ajax({
            type: 'post',
        data: {
            id: id,
            namecus:namecus
        },
        url: "@Url.Action("ChiTietGiaoDich", "HomeAdmin")",
        success: function (data) {
            $("#modalcontent").html(data);
        }
        });
    }
</script>