@using WebDienThoaiDiDong.Models;
@model SAN_PHAM
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Tên sản phẩm: <span style="color:dodgerblue">@ViewBag.Nameproduct</span></h4>
</div>
<div class="modal-body" id="modalbody">
    <div class="widget-content nopadding">
        <table class="table table-bordered table-striped table-hover" style="width:100%; margin-right:10px;">
            <thead>
                <tr class="success">
                    <th style="background:#28B779; color:white;font-size:13px;">Chế độ bảo hành</th>
                    <th style="background:#28B779; color:white;font-size:13px;">Khuyến mãi</th>
                    <th style="background:#28B779; color:white;font-size:13px;">Số lượng tồn kho</th>
                    <th style="background:#28B779; color:white;font-size:13px;">Giảm giá</th>
                    <th style="background:#28B779; color:white;font-size:13px;">Video</th>

                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th style="font-size:11px;">@Model.CheDoBaoHanh</th>
                    <th style="font-size:11px;">@Model.KhuyenMai</th>
                    <th style="font-size:11px;">@Model.SoLuongTrongKho</th>
                    <th style="color:red;font-size:11px;">@String.Format("{0:0,0 vnđ}", Model.GiamGia)</th>
                    <th style="font-size:11px;">@Model.Video</th>
                    
                </tr>

            </tbody>

        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
</div>

