@using WebDienThoaiDiDong.Models;
@model List<SAN_PHAM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script>
    var  urlDanhSachAnhSanPhamTable = '@Url.Action("DanhSachAnhSanPhamTable", "QuanLySliderAnhSanPham")';
</script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Areas/Admin/Scripts/QuanLySliderAnhSanPham/QuanLySliderAnhSanPham.js"></script>
<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Đi đến Trang chủ" class="tip-bottom"><i class="icon-home"></i> Trang chủ</a> <a href="index.html" title="Slider ảnh sản phẩm" class="tip-bottom">Slider ảnh sản phẩm </a></div>
        <h1>Quản lý slider ảnh sản phẩm</h1>
    </div>
    <!--End-breadcrumbs-->
    <!--Action boxes-->
    <div class="container-fluid">
        <!--End-Chart-box-->
        <hr />
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-th"></i> </span>
                <h5>Danh sách ảnh cho slider sản phẩm</h5>
                <button type="button" class="btn btn-success" style="float:right;margin:4px 5px;" onclick="Them()">Thêm mới</button>
            </div>
            <div class="controls controls-row span2 m-wrap">
                <label class="control-label" style="font-weight:bold;padding-top:8px;">Tìm theo tên sản phẩm: </label>
            </div>
            <div class="controls controls-row span5 m-wrap" style="margin:5px 3px; display:inline;" id="a">
                <select placeholder="Nhập tên sản phẩm" style="float:left;" id="myoption">
                    <option></option>
                    @foreach (var item in Model)
                    {
                        <option>@item.TenSanPham</option>
                    }

                </select>


            </div>
            <button id="macdinh" class="btn btn-primary" style="margin-top:3px;">Đặt về mặc định</button>
            <div id="table">

            </div>
            <!--phần Edit-->
            <div class="widget-box" id="div_edit">
            </div>

        </div>
    </div>
</div>
<script>
    function Them() {

        $.ajax({
            type: 'get',
            url: '@Url.Action("Add","QuanLySliderAnhSanPham")',
            success: function (data) {
                $("#div_edit").html(data);
            }
        });
    }
    $('#a #myoption').click(function () {
        var codesearch = $('#myoption option:selected').text().trim();
        $.ajax({
            url: '@Url.Action("Search", "QuanLySliderAnhSanPham")',
            mtype: "POST",
            datatype: "json",
            data: {
                codesearch: codesearch,
                page: 1

            },
            success: function (data) {
                $("#table").html("");
                $("#table").html(data);
            }
        });
    });
    $(function () {

        $("#macdinh").click(function () {
            checksearch = 0;

            $.ajax({
                url: '@Url.Action("Search", "QuanLySliderAnhSanPham")',
                mtype: "POST",
                datatype: "json",
                data: {
                    codesearch: "",
                    page: 1
                },
                success: function (data) {
                    $("#table").html("");
                    $("#table").html(data);
                }
            });
        });

    });
</script>

